* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    font-family: 'Lato', sans-serif;

    --main-color: rgb(9, 86, 161);
    --main-colorOpacity: rgba(9, 86, 161, 0.3);
    --panel-color: rgba(255, 255, 255, 0.3);
    --font-color-white: rgb(255, 255, 255);
    --btn-remove: rgb(0, 0, 0);
    --alert-color: rgb(255, 0, 0);
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    min-height: 100vh;
    background-image: url(../img/island.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

.panel {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1200px;
    max-height: 100vh;
    height: 90vh;
}

.panel__excursions {
    display: none;
    width: 30%;
    height: 100%;
    border: 2px solid var(--main-color);
    border-radius: 1.5rem;
    background-color: var(--panel-color);
    list-style: none;
}

.excursions__item {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 2rem;
}

.excursions__item--current {
    display: flex
}

.excursions__title {
    position: relative;
    font-size: 3rem;
    text-align: center;
}

.excursions__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--main-color);
}

.excursions__nav--prev {
    left: 0;
}

.excursions__nav--next {
    right: 0;
}

.excursions__description {
    margin: 4rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.excursions__field {
    position: relative;
    margin-bottom: 3rem;
}


.excursions__field::after,
.order__field::after {
    display: block;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    text-align: right;
    color: var(--alert-color);
}

.excursions__field::after {
    content: attr(data-excursion-content);
}

.order__field::after {
    content: attr(data-order-content)
}

.excursions__field-name {
    font-size: 1.5rem;
}

.excursions__field--submit {
    text-align: center;
}

.button {
    position: relative;
    margin-top: 4rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    transition: ease-out 0.3s;
    z-index: 1;
}

.button:hover {
    cursor: pointer;
    color: var(--font-color-white);
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background-color: var(--main-color);
    transition: 0.3s all ease;
}

.button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1
}


.panel__form {
    width: 30%;
    padding: 20px;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    background-color: var(--panel-color);
    overflow: hidden;
}


.uploader,
.order {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--main-color);
    font-size: 1.5rem;
}

.order {
    display: none;
}

.uploader__input {
    margin-top: 2rem;
}

.order {
    text-align: right;
}

.order__total-price,
.order__field {
    margin-bottom: 2rem;
}

.order__field {
    position: relative;
}

.order__field--submit {
    text-align: center;
}


.summary {
    display: none;
    max-height: 40%;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
    list-style: none;
    overflow-y: scroll;
}

.summary__item--prototype {
    display: none;
}

.summary__item--current {
    display: list-item;
}

.summary__item {
    margin: 0 0 2rem 0;
    padding: 1rem 1.5rem;
    border: 2px solid var(--main-color);
}

.summary__item:hover {
    background-color: var(--main-colorOpacity);
}

.summary__name {
    padding-right: 0.5rem;
}

.summary__name,
.summary__total-price {
    font-size: 2rem;
}

.summary__btn-remove {
    font-size: 1.5rem;
    text-decoration: none;
    vertical-align: top;
    color: var(--btn-remove);
    padding: 0 0 0 0.5rem;
}

.summary__prices {
    display: flex;
    flex-direction: column;
}

.summary__prices--adults,
.summary__prices--children {
    font-size: 1.5rem;
    display: block;
}