* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 1920px;
    height: 100vh;
    background-image: url(../img/island1.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

.panel {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    max-width: 1200px;
    height: 80vh;
}

.panel__excursions {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    border: 2px solid #0956A1;
    border-radius: 15px;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.excursions__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
}

.excursions__item--current {
    display: block;
}


.excursions__title {
    position: relative;
    font-size: 3rem;
    text-align: center;
}

.excursions__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    cursor: pointer;
    color: #0956A1;
}

.excursions__nav--prev {
    left: 0;
}

.excursions__nav--next {
    right: 0;
}

.excursions__description {
    margin-top: 4rem;
    font-size: 1.5rem;
    text-align: center;
}

.excursions__field {
    margin-bottom: 1.5rem;
}

.excursions__field-name {
    font-size: 1.5rem;
}

.excursions__field--submit {
    text-align: center;
}

.button {
    position: relative;
    margin-top: 4rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid #0956A1;
    border-radius: 4px;
    transition: ease-out 0.3s;
    z-index: 1;
}

.button:hover {
    cursor: pointer;
    color: white;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background-color: #0956A1;
    transition: 0.3s all ease;
}

.button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1
}


.panel__form {
    width: 30%;
    padding: 20px;
    border: 2px solid #0956A1;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}


.uploader,
.order {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #0956A1;
    font-size: 1.5rem;
}

.uploader__input {
    margin-top: 2rem;
}

.order {
    text-align: right;
}

.order__total-price,
.order__field {
    margin-bottom: 1rem;
}

.order__field--submit {
    text-align: center;
}


.summary {
    list-style: none;
    font-size: 2rem;
    text-align: center;
}

.summary__prices--adults,
.summary__prices--children {
    margin-top: 2rem;
    display: inline-block;
}